#############################################################################################
#                                                                                           #
#   THIS IS THE EXAMPLE ENV FILE, EDIT THE VALUES AND SAVE AS `.env` file   #
#                                                                                           #
#############################################################################################

TENANT_NAME=QA
ENV_URL=https://abc.io
TENANT_ADMIN_USER_NAME=test.user+automation@abc.io
TENANT_ADMIN_PASSWORD=*********
UPLOAD_TEST_RESULT_XRAY=true
UPDATE_EXISTING_TEST_EXECUTION=true
TEST_EXECUTION_ID=OG-6855
BROWSER_NAME=chromium
SHOW_BROWSER=false
LAMBDATEST_USERNAME=test.user
LAMBDATEST_ACCESS_KEY=*********
LAMBDATEST_PLATFORM=Windows 11
LAMBDATEST_BROWSER=Chrome ##MicrosoftEdge 
LAMBDATEST_BROWSER_VERSION=latest
LAMBDATEST_BUILD_NAME=Regression
XRAY_CLIENT_ID=*********
XRAY_CLIENT_SECRETS=*********
MAILSLURP_ID=*********